.innerNoAutocomplete-kaUXJZ {
    border-radius: 23px;
}

.guilds-wrapper .guilds .guild.selected:before {
    -webkit-transition: height .25s ease-in-out,margin-top .25s ease-in-out;
    background: #484b51;
    border-radius: 0px;
    height: 60px;
    margin-top: -31px;
    transition: height .25s ease-in-out,margin-top .25s ease-in-out;
    width: 110px;
    transition: all 200ms ease;

}