.uploadModal-2KN6Mm .inner-1-09ZV {
    border: 2px dashed rgba(170, 184, 232, 0);
}

.uploadModal-2KN6Mm .inner-1-09ZV .file-XhJJS_ .description-2rzUJU {
    height: 0px;
}

.uploadModal-2KN6Mm .inner-1-09ZV .comment-1faMgX {
    margin: 0 18px;
    visibility: hidden;
}

.uploadModal-2KN6Mm .inner-1-09ZV .file-XhJJS_ .icon-19bbE_.image-sUU6Oh {
    height: 404px;
    margin-left: -80px;
    margin-right: 2px;
    margin-top: -63px;
    width: 723px;
}

.uploadModal-2KN6Mm .footer-4pOKm8 {
    margin-bottom: -82px;
    width: 620px;
}

.uploadModal-2KN6Mm .footer-4pOKm8 .button {
    border-radius: 50px;
    margin-left: 10px;
}