:root {
    --version: "Expose X v1.0.7";
}


/* Showing Version number of Expose X */

.titleBar-AC4pGV::before {
    content: var(--version);
    color: #b8b9bb;
    font-size: 9px;
    font-weight: 500;
    position: fixed;
    -webkit-app-region: drag;
    left: 20px;
    bottom: 6px;
    width: 78px;
}

/* Custom Background Editing */
   /* If you have the normal file, a code is already in there for this */

   .container-2lgZY8 {   /* < That is what creates the black overlay */
    background-color: rgba(0, 0, 0, 0.50);
}

   .appMount-3VJmYg {
    background-color: rgba(0, 0, 0, 0.50);
}

.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ {
    background: rgba(54, 57, 63, 0);
}

.app-19_DXt {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    position: relative;
    z-index: auto;
    background-color: transparent;
    background-size: 100%;
}

/* Scrollbar in Chat */

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-color: rgba(54, 57, 62, 0);
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-color: rgba(54, 57, 62, 0);
}

/* Upload Modal */
    /* size of modal */
.uploadModal-2ifh8j {
    min-height: 438px;
    width: 720px;
}
    /* size of image */
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    border-radius: 8px 8px 0px 0px;
    height: 414px;
    margin-left: -12px;
    margin-right: 12px;
    margin-top: -33p;
    width: 719px;
}
    /* Position of comment box */
.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf {
    margin: 0 2px;
    margin-top: 259px;
    margin-bottom: -81px;
    width: 540px;
}

.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf .label-3aiqT2 .optional--ezibr {
    margin-left: -85px;
    opacity: 0;
    bottom: 20px;
}

    /* Button "Upload" */

    .button {
        -webkit-transition: background-color .2s ease;
        background-color: #7289da;
        border-radius: 23px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        padding: 10px 20px;
        position: relative;
        transition: background-color .2s ease;
        width: auto;
    }



/*=============================================
=               Status Picker                 =        From Materialized (FrozySeven)
=============================================*/            MODIFIED BY CORBS 

.popout-3sVMXz.popoutTop-3uu9vG-left {
	box-shadow: none;
}
@keyframes status-picker-bg { 
    to {
        background-color: rgba(0,0,0,0.85);
    } 
}
.menu-Sp6bN1.alt-3btY0e {
    animation: status-picker-bg 200ms linear;
    animation-fill-mode: forwards;
    background-color:transparent;
    box-shadow: 0!important;
    border-radius: 0;
    display: flex;
	align-items: center;
	justify-content: center;
    position: fixed;
    pointer-events: visible;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
    z-index: 1000000;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.menu-Sp6bN1.alt-3btY0e .item-1GzJrl {
    padding: 15px;
    margin-left: 10px;
    border-radius: 3px;
    width: auto;
    display: inline-block;
    background: rgba(14, 14, 14, 0)!important;
    animation: statuspicker-status 300ms ease;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    transition: all 0.2s ease!important;
}
.menu-Sp6bN1.alt-3btY0e .item-1GzJrl:hover {
    background: transparent !important;
    transition: all 0.2s ease!important;
    margin-top: -10px;
}
.menu-Sp6bN1.alt-3btY0e .item-1GzJrl:active {
    background: transparent !important;
    margin-top: 10px;
}
.menu-Sp6bN1.alt-3btY0e .separator-2zcjq8 {
	display: none;
}
.menu-Sp6bN1.alt-3btY0e .status {
	border-radius: 0;
	width: 55px;
	height: 55px;
	box-sizing: border-box;
	pointer-events: initial;
	opacity: 1;
	background-position: center center;
	background-repeat: no-repeat;
	filter: brightness(87.5%);
    will-change: transform;
    margin-right: 0!important;
    backface-visibility: initial;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

@keyframes statuspicker-status {
    from {
        opacity: 0;
        transform: translate(0, 100%);
    }
    to {
        opacity: 1;
    }
}
.menu-Sp6bN1.alt-3btY0e .item-1GzJrl .status {
    border-radius: 100px;
    transition: all 0.2s ease!important;
}
.menu-Sp6bN1.alt-3btY0e .item-1GzJrl .status:hover {
    transition: all 0.2s ease!important;
}
.alt-3btY0e .item-1GzJrl .statusIconText-3b4TkH > div {
    font-size: 0px;
    margin-left: 10px;
}
.menu-Sp6bN1.alt-3btY0e .item-1GzJrl:nth-of-type(1) .status {
    z-index: 5;
	background-color:#43b581;
    animation: statuspicker-status 300ms ease;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
.alt-3btY0e .item-1GzJrl:nth-of-type(1) .statusIconText-3b4TkH > div {
    color: #43b581;
    animation: statuspicker-status 300ms ease;
    animation-delay: 50ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.menu-Sp6bN1.alt-3btY0e .item-1GzJrl:nth-of-type(3) .status {
    z-index: 4;
    background-color: #faa61a;
    animation: statuspicker-status 300ms ease;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
.alt-3btY0e .item-1GzJrl:nth-of-type(3) .statusIconText-3b4TkH > div {
    color: #faa61a;
    animation: statuspicker-status 300ms ease;
    animation-delay: 150ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.menu-Sp6bN1.alt-3btY0e .item-1GzJrl:nth-of-type(4) .status {
    z-index: 3;
    background-color: #f04747;
    animation: statuspicker-status 300ms ease;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
.alt-3btY0e .item-1GzJrl:nth-of-type(4) .statusIconText-3b4TkH > div {
    color: #f04747;
    animation: statuspicker-status 300ms ease;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.alt-3btY0e .item-1GzJrl .helper-2c73HK {
    opacity: 0;
    display: block;
    position: fixed;
    bottom: 20px;
}
.alt-3btY0e .item-1GzJrl:nth-of-type(4) .helper-2c73HK  {
    display: flex;
    align-items: center;
}
.alt-3btY0e .item-1GzJrl:nth-of-type(4):hover .helper-2c73HK  {
    background-color: rgba(192, 63, 63, 0);
    color: white;
    display: flex;
	align-items: center;
	justify-content: center;
    position: absolute;
    margin: auto;
    top: 340px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 550px;
    height: 20px;
    padding: 12px 5px;
    border-radius: 25px;
    font-size: 0px;
    font-weight: 100;
    text-align: center;
    pointer-events: none;
    opacity: 1;
    animation: opacity 300ms ease;
}

.menu-Sp6bN1.alt-3btY0e .item-1GzJrl:nth-of-type(5) .status {
	z-index: 2;
    background-color: #57616D;
    animation: statuspicker-status 300ms ease;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
.alt-3btY0e .item-1GzJrl:nth-of-type(5) .statusIconText-3b4TkH > div {
    color: #646f7d;
    animation: statuspicker-status 300ms ease;
    animation-delay: 350ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
.alt-3btY0e .item-1GzJrl:last-child .helper-2c73HK:last-child {
    display: block;
    position: fixed;
    bottom: 20px;
}
.alt-3btY0e .item-1GzJrl:nth-of-type(5):hover .helper-2c73HK:last-child  {
    background-color: rgba(58, 62, 67, 0);
    color: white;
    display: flex;
	align-items: center;
	justify-content: center;
    position: absolute;
    margin: auto;
    top: 340px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 550px;
    height: 20px;
    padding: 12px 5px;
    border-radius: 25px;
    font-size: 0px;
    font-weight: 100;
    text-align: center;
    pointer-events: none;
    opacity: 1;
    animation: opacity 300ms ease;
}


/* ===================== */
/*   End Status Picker   */


/* Animations */


  
.bd-blue .root-SR8cQa .tab-bar .tab-bar-item,
.root-SR8cQa .tab-bar .tab-bar-item {
    transition: 200ms ease!important;
    animation: comment-fade 500ms cubic-bezier(0.29, 1.43, 1, 1) 200ms backwards;
}
@keyframes comment-fade {
	0% {
		transform:translateY(-10px);
		opacity: 0;
	}
}

.root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 {
    animation: connectedaccount_slide 400ms cubic-bezier(.5, 0, 0, 1) 100ms backwards;
}
  @keyframes connectedaccount_slide {
	from {
		transform: translate(0, 100px);
		opacity: 0;
	}
}

.popout-3sVMXz.popoutLeft-30WmrD.noArrow-3BYQ0Z[style*="visibility: visible;"]{
    transform: translate(-112%,0)!important;
    transform-origin: top right;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.363);
    animation: user_popout_left 300ms cubic-bezier(.4,0,0,1)!important;
}
body:active .popoutBottom-1YbShG[style*="overflow: hidden; visibility: visible;"]:not(:active){
    transform: translate(calc(20px - 100%),0) scale(.95,1)!important;
    opacity: 0;
    transition: 150ms cubic-bezier(.4,0,0,1)!important;
}
@keyframes user_popout_left {
    0% {
        opacity: 0;
        transform: translate(calc(20px - 100%),0) scale(.95,1);
    }
}




/* Avatars in Chat */

.chat .avatar-large {
    -webkit-transition: opacity .2s ease;
    cursor: pointer;
    opacity: 1;
    transition: all 0.2s cubic-bezier(0, 1.17, 0.99, 0.06) !important;
}

.chat .avatar-large:hover {
    -webkit-transition: opacity .2s ease;
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
    transition: all 1s cubic-bezier(0, 1.17, 0.99, 0.10) !important;
}

/* Tool Tip */

.bd-blue .tooltip {
    background-color: #3a71c1;
    border-radius: 30px;
}

.bd-blue .tooltip.tooltip-top:after {
    border-top-color: rgba(58, 113, 193, 0);
}

.bd-blue .tooltip.tooltip-right:after {
    border-right-color: rgba(58, 113, 193, 0);
}

.bd-blue .tooltip.tooltip-left:after {
    border-right-color: rgba(58, 113, 193, 0);
}

.bd-blue .tooltip.tooltip-bottom:after {
    border-right-color: rgba(58, 113, 193, 0);
}

/* Titlebar */

.wordmark-2iDDfm {
    font-size: 0;
    left: 0;
    opacity: 0;
    padding: 4px 8px 3px;
    pointer-events: none;
    position: absolute;
    top: 0;
}

.typeWindows-1za-n7 {
    height: 10px;
    margin-top: 0px;
}

.winButton-iRh8-Z {
    -webkit-app-region: no-drag;
    cursor: pointer;
    height: 50px;
    opacity: 0;
    pointer-events: auto;
    position: relative;
    top: -40px;
    width: 28px;
    background-color: white;
}

.winButtonMinMax-PBQ2gm.winButton-iRh8-Z.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs {
    background-color: rgb(59, 59, 59);
}

.titleBar-AC4pGV {
    -webkit-app-region: drag;
    z-index: 3001;
    background-color: rgb(0, 0, 0);
}



/* Server List */

.guilds-wrapper {
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    background-color: rgba(32, 34, 37, 0);
    contain: layout;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    width: 100px;
    left: 18px;
}

.guilds-wrapper .guilds {
    overflow-x: hidden;
    overflow-y: show;
}

.guilds-wrapper .guilds .guild .guild-inner {
    background: rgba(47, 49, 54, 0);
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
}

.guilds-wrapper .guilds .friends-online {
    font-size: 0px;
    margin: -1px 0;
}

.guilds-wrapper .guilds .guild .guild-inner a:active {
    transform: scale(0.9);
    transition: all 0.2s ease!important;
    border-radius: 50px;
}
.guilds-wrapper .guilds .guild.selected {
    border-radius: 50px!important;
    animation: guildborder 10s ease;
    transform: scale(1.08);
}

.guilds-wrapper .guilds .guild+.guild {
    display: block;
    transition: all 0.2s cubic-bezier(0, 1.17, 0.99, 0.06) !important;
}

.guilds-wrapper .guilds .guild .guild-inner {
    background: transparent;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    

}

.guilds-wrapper .guilds .guild.selected:before {
    -webkit-transition: height .25s ease-in-out,margin-top .25s ease-in-out;
    background: #fff;
    border-radius: 20px;
    height: 4px;
    margin-top: -20px;
    transition: height .25s ease-in-out,margin-top .25s ease-in-out;
}



.guilds-wrapper .guilds .guild .avatar-small {
    background-repeat: no-repeat;
    background-size: 50px 50px;
    border-radius: 50px;
    height: 50px;
    margin: 0;
    width: 50px;
    

}

.guilds-wrapper .guilds .guild:hover {
    border-radius: 3px!important;
    animation: guildborder 10s ease;
}
.guilds-wrapper .guilds .guild.selected {
    border-radius: 3px!important;     
    animation: guildborder 10s ease;
}


.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    color: #7289da;
    background-color: transparent;
    border: 5px solid transparent;
    border-radius: 7px;
}

    /* Indicator */

    .guilds-wrapper .guilds .guild.selected:before, .guilds-wrapper .guilds .guild.unread:before {
        border-radius: 20px;
        content: " ";
        left: -10px;
        margin-top: -20px;
        position: absolute;
        top: 81%;
        width: 5px;
    }

    /* Friends Icon */

    .guilds-wrapper .guilds .friends-icon {
        background-image: url(https://i.imgur.com/lPF4z01.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 32px 33px;
        height: 50px;
        width: 50px;
        background-color: transparent;
    }

    a {
        -webkit-transition: opacity .5s,color .5s;
        color: rgba(0, 176, 244, 0);
        cursor: pointer;
        text-decoration: none;
        transition: opacity .5s,color .5s;
    }



/* Create or Join guild */

.create-guild-container.deprecated .create-or-join .actions .or {
    height: 200%;
}

.create-guild-container.deprecated .action {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px rgba(0,0,0,.0);
    display: block;
    overflow: hidden;
    width: 228px;
    height: 70px;
    margin-left: 113px;
    margin-top: 29px;
}

.create-guild-container.deprecated .create-or-join .actions {
    flex-direction: column;
}

.create-guild-container.deprecated .action+.action {
    margin-left: 118px;
    margin-top: 70px;
}







.create-guild-container.deprecated .create-guild .guild-form li:first-child {
    -ms-flex: 1.2 0 0px;
    -webkit-box-flex: 1.2;
    flex: 1.2 0 0;
    margin-left: 182px;
}

.create-guild-container.deprecated .create-guild .guild-form li {
    -ms-flex: 1 1 0px;
    -webkit-box-flex: 1;
    flex: 1 1 0;
    margin-left: -1300px;
}

.regionSelect-3lf4eE .regionSelectInner-24f4Ce {
    border: 1px solid rgba(205, 205, 205, 0);
}




.create-guild-container.deprecated .join-server .sample-link {
    font-size: 0px;
}

.create-guild-container.deprecated p {
    font-size: 0px;
}
/* end of create or join guild */

/* Add Server Icon */

.guilds-wrapper .guilds .guild:hover {
    border-radius: 103px!important;
}

/* Channel List */

.unread-1Dp-OI {
    background-color: hsla(0, 0%, 100%, 0);
}

.channels-Ie2l6A {
    background-color: rgba(47, 49, 54, 0);
}

.container-PNkimc {
    background-color: rgba(47, 49, 54, 0);
}

.header-2o-2hj:hover {
    background-color: rgba(0, 0, 0, 0);
}

.header-2o-2hj {
    background-color: rgba(0, 0, 0, 0);
}

.header-2o-2hj:active {
    background-color: rgba(0, 0, 0, 0);
}

.header-2o-2hj {
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0), 0 0px 0 rgba(0, 0, 0, 0);
}

     /* Making round buttons OWO */

 .content-20Aix8 {
    border-radius: 33px;
}




/* CHAT */

        /* FORM */

        .chat form {
            -ms-flex-negative: 0;
            -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.1);
            box-shadow: 0 -1px 0 rgba(0,0,0,.1);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-shrink: 0;
            margin: 0 20px;
            position: relative;
            height: 76px;
        }

        /* Rest of Chat */

.theme-dark .chat {
    background-color: rgba(54, 57, 62, 0) !important;
}

.theme-dark .title-3qD0b- {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0, 0, 0, 0);
    background: rgba(54, 57, 63, 0);
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0), 0 0px 0 rgba(0, 0, 0, 0);
}

.theme-dark .chat>.content {
    background-color: rgba(54, 57, 62, 0);
}

.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: rgba(56, 68, 88, 0);
}

.theme-dark .message-group:not(.has-divider) {
    border-bottom-color: hsla(0, 0%, 100%, 0);
}

.theme-dark .friends-table .messages .divider:not(.red) div, .theme-dark .messages-wrapper .messages .divider:not(.red) div {
    background: rgba(71, 74, 79, 0);
}

.theme-dark .friends-table .messages .divider:before, .theme-dark .friends-table .messages .divider span, .theme-dark .messages-wrapper .messages .divider:before, .theme-dark .messages-wrapper .messages .divider span {
    background-color: rgba(54, 57, 62, 0);
}

.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
    color: rgba(255, 255, 255, 0.5);
    background-color: #121315;
}

.bd-blue *[style*="background-color: rgb(114, 137, 218)"] {
    background-color: rgba(58, 113, 193, 0) !important;
}



.theme-dark .chat form {
    -webkit-box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
    background-color: rgba(54, 57, 63, 0);
    box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
}

.theme-dark .inner-zqa7da {
    background-color: hsla(218, 5%, 47%, 0);
}

/* Typing Modal */

.theme-dark .typing-2GQL18 {
    background-color: rgba(54, 57, 62, 0);
    bottom: -3px;
}

/* Members Tab */

.theme-dark .members-1998pB {
    background-color: rgba(47, 49, 54, 0);
}

.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: rgba(79,84,92,.6);
    color: #fff;
    border-radius: 230px;
    width: 90px;
    height: 40px;
}

.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4:hover {
    background-color: rgba(79,84,92,.6);
    color: #fff;
    border-radius: 230px;
    width: 90px;
    height: 40px;
}

.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: rgba(79,84,92,.6);
    color: #fff;
    border-radius: 230px;
    width: 90px;
    height: 40px;
}

/* User Container in Bottom Left Corner */

.container-2Thooq {
    -ms-flex-align: center;
    -ms-flex-negative: 0;
    -webkit-box-align: center;
    align-items: center;
    background: rgba(32, 34, 37, 0);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    height: 52px;
    margin-bottom: 9px;
    padding: 0 10px;
}

.button-2b6hmh:hover {
    background-color: rgba(24,25,28,.3);
    opacity: 1;
    border-radius: 50px;
}

/* Friends list */

.private-channels .channel a {
    border-radius: 50px;
}

.theme-dark .headerBar-UHpsPw {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    background: rgba(54, 57, 63, 0);
    box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
}

.theme-dark #friends {
    background-color: rgba(54, 57, 62, 0);
}

.theme-dark #friends .friends-table .friends-row:hover {
    background: rgba(65, 68, 73, 0.5);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 30px;

}

.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: rgba(47, 49, 54, 0);
    transition: all 0.2s ease!important;

}

.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
    background-color: rgba(79, 84, 92, 0);
    transition: all 0.2s ease!important;

}

.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
    background-color: rgba(79, 84, 92, 0);
    transform: scale(1.1);
    transition: all 0.2s ease!important;
}

#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-remove:hover {
    background-color: #f04747!important;
    border-radius: 30px;
}

/* Server settings page */

.theme-dark .ui-standard-sidebar-view {
    background: rgba(54, 57, 63, 0);
}

.theme-dark .ui-standard-sidebar-view {
    background: rgba(54, 57, 63, 0);
}

.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: rgba(0, 0, 0, 0.50);
}

.theme-dark .ui-standard-sidebar-view .content-region {
    background: rgba(0, 0, 0, 0.50);
}

.side-8zPYf6 .itemSelected-1qLhcL {
    background-color: #7289da;
    color: #fff;
    border-radius: 30px;
}

.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover {
    background-color: hsla(216,4%,74%,.1);
    color: #f6f6f7;
    border-radius: 50px;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: #677bc4;
    border-radius: 30px;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: #7289da;
    color: #fff;
    border-radius: 30px;
}

/* Buttons in Settings page | Default */

.themeDefault-24hCdX.valueChecked-m-4IJZ {
    background-color: #7289da;
}







/* ============================================================================ */
/* PLUGINS */ /*PLUGINS*/ /* PLUGINS */ /*PLUGINS*/ /* PLUGINS */ /*PLUGINS*/

/* Citador */

.citar-btn {
    cursor: pointer;
    margin: 3px 5px;
    padding: 0 10px;
    background-color: transparent !important;
    border-radius: 50px !important;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    opacity: 0.8;
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_format_quote_white_48px.svg);
    background-size: 90% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    color: transparent !important;
}
