:root {
    --version: "Expose X v1.0.7";
}


/* Showing Version number of Expose X */

.titleBar-AC4pGV::before {
    content: var(--version);
    color: #b8b9bb;
    font-size: 10px;
    font-weight: 500;
    position: fixed;
    -webkit-app-region: drag;
    left: 247px;
    bottom: 6px;
    width: 78px;
}

/* Custom Background Editing */
   /* If you have the normal file, a code is already in there for this */

   .appMount-3VJmYg {
    background-color: rgba(0, 0, 0, 0.25);
}

/* Tool Tip */

.bd-blue .tooltip {
    background-color: #3a71c1;
    border-radius: 30px;
}

.bd-blue .tooltip.tooltip-top:after {
    border-top-color: rgba(58, 113, 193, 0);
}

.bd-blue .tooltip.tooltip-right:after {
    border-right-color: rgba(58, 113, 193, 0);
}

.bd-blue .tooltip.tooltip-left:after {
    border-right-color: rgba(58, 113, 193, 0);
}

.bd-blue .tooltip.tooltip-bottom:after {
    border-right-color: rgba(58, 113, 193, 0);
}

/* Titlebar */

.wordmark-2iDDfm {
    font-size: 0;
    left: 0;
    opacity: 0;
    padding: 4px 8px 3px;
    pointer-events: none;
    position: absolute;
    top: 0;
}

.typeWindows-1za-n7 {
    height: 10px;
    margin-top: 0px;
}

.winButton-iRh8-Z {
    -webkit-app-region: no-drag;
    cursor: pointer;
    height: 50px;
    opacity: 0;
    pointer-events: auto;
    position: relative;
    top: -40px;
    width: 28px;
    background-color: white;
}

.winButtonMinMax-PBQ2gm.winButton-iRh8-Z.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs {
    background-color: rgb(59, 59, 59);
}

.titleBar-AC4pGV {
    -webkit-app-region: drag;
    z-index: 3001;
    background-color: rgb(0, 0, 0);
}



/* Server List */

.guilds-wrapper {
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    background-color: rgba(32, 34, 37, 0);
    contain: layout;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    width: 100px;
    left: 18px;
}

.guilds-wrapper .guilds {
    overflow-x: hidden;
    overflow-y: hidden;
}

.guilds-wrapper .guilds .guild .guild-inner {
    background: rgba(47, 49, 54, 0);
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
}

.guilds-wrapper .guilds .friends-online {
    font-size: 0px;
    margin: -1px 0;
}

.guilds-wrapper .guilds .guild .guild-inner a:active {
    transform: scale(0.9);
    transition: all 0.2s ease!important;
    border-radius: 50px;
}
.guilds-wrapper .guilds .guild.selected {
    border-radius: 50px!important;
    animation: guildborder 10s ease;
    transform: scale(1.08);
}

.guilds-wrapper .guilds .guild+.guild {
    display: block;
    transition: all 0.2s cubic-bezier(0, 1.17, 0.99, 0.06) !important;
}

.guilds-wrapper .guilds .guild .guild-inner {
    background: transparent;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    

}

.guilds-wrapper .guilds .guild.selected:before {
    -webkit-transition: height .25s ease-in-out,margin-top .25s ease-in-out;
    background: #fff;
    border-radius: 20px;
    height: 4px;
    margin-top: -20px;
    transition: height .25s ease-in-out,margin-top .25s ease-in-out;
}



.guilds-wrapper .guilds .guild .avatar-small {
    background-repeat: no-repeat;
    background-size: 50px 50px;
    border-radius: 50px;
    height: 50px;
    margin: 0;
    width: 50px;
    

}

.guilds-wrapper .guilds .guild:hover {
    border-radius: 3px!important;
    animation: guildborder 10s ease;
}
.guilds-wrapper .guilds .guild.selected {
    border-radius: 3px!important;     
    animation: guildborder 10s ease;
}


    /* Indicator */

    .guilds-wrapper .guilds .guild.selected:before, .guilds-wrapper .guilds .guild.unread:before {
        border-radius: 20px;
        content: " ";
        left: -10px;
        margin-top: -20px;
        position: absolute;
        top: 81%;
        width: 5px;
    }

    /* Friends Icon */

    .guilds-wrapper .guilds .friends-icon {
        background-image: url(https://i.imgur.com/lPF4z01.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 32px 33px;
        height: 50px;
        width: 50px;
    }

    .guilds-wrapper .guilds .friends-icon {
        background-image: url(https://i.imgur.com/lPF4z01.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 32px 33px;
        height: 50px;
        width: 50px;
        background-color: #202225;
    }

/* Channel List */

.channels-Ie2l6A {
    background-color: rgba(47, 49, 54, 0);
}

.container-PNkimc {
    background-color: rgba(47, 49, 54, 0);
}

.header-2o-2hj:hover {
    background-color: rgba(0, 0, 0, 0);
}

.header-2o-2hj {
    background-color: rgba(0, 0, 0, 0);
}

.header-2o-2hj:active {
    background-color: rgba(0, 0, 0, 0);
}

.header-2o-2hj {
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0), 0 0px 0 rgba(0, 0, 0, 0);
}

     /* Making round buttons OWO */

 .content-20Aix8 {
    border-radius: 33px;
}




/* CHAT */

        /* FORM */

        .chat form {
            -ms-flex-negative: 0;
            -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.1);
            box-shadow: 0 -1px 0 rgba(0,0,0,.1);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-shrink: 0;
            margin: 0 20px;
            position: relative;
            height: 76px;
        }

        /* Rest of Chat */

.theme-dark .chat {
    background-color: rgba(54, 57, 62, 0) !important;
}

.theme-dark .title-3qD0b- {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0, 0, 0, 0);
    background: rgba(54, 57, 63, 0);
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0), 0 0px 0 rgba(0, 0, 0, 0);
}

.theme-dark .chat>.content {
    background-color: rgba(54, 57, 62, 0);
}

.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: rgba(56, 68, 88, 0);
}

.theme-dark .chat form {
    -webkit-box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
    background-color: rgba(54, 57, 63, 0);
    box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
}

.theme-dark .inner-zqa7da {
    background-color: hsla(218, 5%, 47%, 0);
}

/* Members Tab */

.theme-dark .members-1998pB {
    background-color: rgba(47, 49, 54, 0);
}

.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: rgba(79,84,92,.6);
    color: #fff;
    border-radius: 230px;
    width: 90px;
    height: 40px;
}

.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4:hover {
    background-color: rgba(79,84,92,.6);
    color: #fff;
    border-radius: 230px;
    width: 90px;
    height: 40px;
}

.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: rgba(79,84,92,.6);
    color: #fff;
    border-radius: 230px;
    width: 90px;
    height: 40px;
}

/* User Container in Bottom Left Corner */

.container-2Thooq {
    -ms-flex-align: center;
    -ms-flex-negative: 0;
    -webkit-box-align: center;
    align-items: center;
    background: rgba(32, 34, 37, 0);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    height: 52px;
    margin-bottom: 9px;
    padding: 0 10px;
}

.button-2b6hmh:hover {
    background-color: rgba(24,25,28,.3);
    opacity: 1;
    border-radius: 50px;
}

/* Friends list */

.private-channels .channel a {
    border-radius: 50px;
}

.private-channels .channel.selected a {
    background-color: rgba(79,84,92,.6);
    color: #fff;
    border-radius: 50px;
}

.theme-dark .headerBar-UHpsPw {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    background: rgba(54, 57, 63, 0);
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0), 0 0px 0 rgba(0,0,0,.06);
}

.theme-dark .headerBar-UHpsPw {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    background: rgba(54, 57, 63, 0);
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0), 0 0px 0 rgba(0,0,0,.06);
}

.theme-dark #friends .friends-table .friends-row:hover {
    background: #414449;
    border-color: transparent;
    border-radius: 100px;
}

.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: rgba(47, 49, 54, 0);
}

.theme-dark #friends .friends-table .friend-table-add-wrapper .friend-table-add-header {
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(54, 57, 62, 0)),to(rgba(47, 49, 54, 0)));
    background: linear-gradient(-180deg,rgba(54, 57, 62, 0),rgba(47, 49, 54, 0));
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}























/* PLUGINS */ /*PLUGINS*/ /* PLUGINS */ /*PLUGINS*/ /* PLUGINS */ /*PLUGINS*/

/* Citador */

.citar-btn {
    cursor: pointer;
    margin: 3px 5px;
    padding: 0 10px;
    background-color: transparent !important;
    border-radius: 50px !important;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    opacity: 0.8;
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_format_quote_white_48px.svg);
    background-size: 90% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    color: transparent !important;
}
