//META{"name":"Expose X Beta","description":" Support Server for Expose X: https://discord.gg/Pdz7jAH. Background is one entire color and you can add a custom background. Buttons are round and sexy blue. Supports the following plugins: Better Reddux, Server Folders, Birthday Plugin, and Clock plugin.","author":"Corbs","version":"AutoUpdate"}*//{}

@import url(https://rawgit.com/CorbsEditor/Themes-for-BetterDiscord/master/Expose%20X/Beta/ExposeXRAW-Beta.theme.css);

.appMount-3VJmYg {
    background-image: url(https://cdn.discordapp.com/attachments/455112801627668492/459201524703428608/test.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
